<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Light Bootstrap Dashboard by Creative Tim</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="fontawesome.min.css" rel="stylesheet" >
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
				   <p>User Logged in</p>                 <!-- Add HTML to link to -->
                  <a class="simple-text">
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href=".html">
                        <i class="pe-7s-monitor"></i>
                        <p>Monitor</p>
                    </a>
                </li>
				<li>
                    <a href=".html">
                        <i class="pe-7s-upload"></i>
                        <p>Upload</p>
                    </a>
                </li>
                <li>
                    <a href=".html">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>
				
                
				<li class="active-pro">
                    <a href=".html">
                        <i class="pe-7s-rocket"></i>
                        <p>Log Out</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    
</body>

    

</html>
