<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FilePond Multiple File Upload</title>
  
    <link rel="stylesheet" href="normalize.min.css">

  <link rel='stylesheet' href='filepond-plugin-image-preview.min.css'>
<link rel='stylesheet' href='filepond.min.css'>

      <link rel="stylesheet" href="css/style.css">

</head>

<body>

<input type="file" 
       class="filepond"
       name="filepond"
       multiple
       data-max-file-size="20MB"
       data-max-files="3" />

  <script src='filepond-plugin-file-encode.min.js'></script>
<script src='filepond-plugin-file-validate-size.min.js'></script>
<script src='filepond-plugin-image-exif-orientation.min.js'></script>
<script src='filepond-plugin-image-preview.min.js'></script>
<script src='filepond.min.js'></script>

  

    <script  src="js/index.js"></script>

</body>

</html>
