<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FilePond Multiple File Upload</title>

    
    <link rel="stylesheet" href="/css/style.css" type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" type='text/css'>



    <script type='text/javascript' src="/js/jquery.js"></script>
    <script type='text/javascript' src="/js/moment.min.js"></script>
    <script type='text/javascript' src="/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type='text/javascript' src="/js/formvalidator.js"></script>


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



	<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

    <style>
        *{
            
            padding: 0;
            margin: 0;
        }
        #Displays {
            padding: 2rem;
        }
        label {
            font-size: 1.5rem;
        }
    </style>

</head>

<body class="col-12" style="background-color:#111; text-align: center">

    <form enctype="multipart/form-data" method="POST" action="/files/upload">				
		<div class="custom-file">
			<input type="file" accept="image/*,video/*" class="custom-file-input" name='files' multiple id="customFile">
				<label class="custom-file-label" for="customFile">Choose file</label>
		</div>

			 
            <!-- <input type="file" id="files" accept="image/*,video/*" name='files' multiple> -->
            <!-- <input type="submit" id="upload" value="Upload" disabled="disabled"> -->
            <div id="Displays">


                <div class="container">
                    <div class="row margin-top">
                        <div class="col-12">
                            <div class="wrap">
                                    <p style="color: #fff"><input type="checkbox" name='files' >Upload based on Date and Time<br><br></input></p>
										<div class="container">
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<div class="input-group date" id="datetimepicker3" data-target-input="nearest">
															<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
																<div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
																	<div class="input-group-text"><i class="fa fa-clock-o"></i></div>
																</div>
															</div>
														</div>
													</div>  TO 
												<div class="col-sm-6">
													<div class="form-group">
														<div class="input-group date" id="datetimepicker4" data-target-input="nearest">
															<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
																<div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
																	<div class="input-group-text"><i class="fa fa-clock-o"></i></div>
																</div>
															</div>
														</div>
													</div>
        </div>
    </div>
</div>

							</div>
								<button type="submit" class="btn btn-success" id="submit_on"
									disabled="disabled">SUBMIT</button>
                         </div>
                    </div>
                </div>
    </form>

    <!--	
	<div class='col-md-20'>
    <div class="form-group">
		<input type="checkbox" class="control-label" name='files'>Upload based on Date and Time<br>
		<button onclick="document.getElementById('datetimepicker1').disabled=this.checked;">
        <div class='input-group date' id='datetimepicker1'>
             <input type='text' class="form-control" />
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                  </div>
               </div>
            </div>
			
-->

    <!-- <script type="text/javascript" src="/dst/imageuploadify.min.js"></script> -->

    <!-- <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="file"]').imageuploadify();
        })
    </script> -->

<script type="text/javascript">
 $(function () {
                $('#datetimepicker3, #datetimepicker4').datetimepicker({
                    format: 'HH:mm'
                });
            });
			
			

</script>



<!-- Old Method not working
    <script type='text/javascript' src="/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/js/rasplistgen.js'></script>

	<script>
	// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function() {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
	
	<script>
		var timepicker = new TimePicker(['start', 'end'], {
			lang: 'en',
			theme: 'dark'
		});
		timepicker.on('change', function(evt) {
  
		var value = (evt.hour || '00') + ':' + (evt.minute || '00');
		evt.element.value = value;

		});
	</script>
	
	<script>	
     var timefrom = new Date();
	temp = $('#start').val().split(":");
	timefrom.setHours(parseInt(temp[0]));
	timefrom.setMinutes(parseInt(temp[1]));

	var timeto = new Date();
	temp = $('#end').val().split(":");
	timeto.setHours(parseInt(temp[0]));
	timeto.setMinutes(parseInt(temp[1]));

	if (timeto < timefrom) 
		alert('start time should be smaller');
	</script>
	
      -->
</body>

</html>