<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FilePond Multiple File Upload</title>

    <link rel="stylesheet" href="/css/normalize.min.css">
	<link rel='stylesheet' href='/css/filepond-plugin-image-preview.min.css'>
	<link rel='stylesheet' href='/css/filepond.min.css'>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
	
		
	<script type="text/javascript" src="/js/jquery.min.js"></script> 
    <script type="text/javascript" src="/js/moment.min.js"></script> 
    <script type="text/javascript" src="/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
	
	<script type='text/javascript'>
		$( document ).ready(function() {
			$('#datetimepicker1').datetimepicker();
		});
	</script>
	
</head>

<body class="col-12" style="background-color:#111; text-align: center">

<input type="file" 
       class="filepond"
       name="filepond"
       multiple
       data-max-file-size="20MB"
       data-max-files="3" />
	   
    <div class="container" style="margin-top: 1em;">
        <form enctype="multipart/form-data" method="POST" action="/files/upload">
            <input type="file" accept="image/*,video/*" name='files' multiple>
            <input type="submit" value="script">
            <div id="Displays">
        </form>
    </div>
	
	<div class='col-md-20'>
    <div class="form-group">
		<input type="checkbox" class="control-label" name="name" value="value">Upload based on Date and Time<br>
        <div class='input-group date' id='datetimepicker1'>
             <input type='text' class="form-control" />
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                  </div>
               </div>
            </div>
			

    
    <script src="/js/bootstrap.min.js"></script>
	<script src='/js/filepond-plugin-file-encode.min.js'></script>
	<script src='/js/filepond-plugin-file-validate-size.min.js'></script>
	<script src='/js/filepond-plugin-image-exif-orientation.min.js'></script>
	<script src='/js/filepond-plugin-image-preview.min.js'></script>
	<script src='/js/filepond.min.js'></script>
    <script  src="/js/index.js"></script>
    <script type="text/javascript"></script>
    <!-- <script type="text/javascript" src="/dst/imageuploadify.min.js"></script> -->

    <!-- <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="file"]').imageuploadify();
        })
    </script> -->

    <script type='text/javascript' src="/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/js/rasplistgen.js'></script>

	<script>
	// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function() {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
	
	<script>
		var timepicker = new TimePicker(['start', 'end'], {
			lang: 'en',
			theme: 'dark'
		});
		timepicker.on('change', function(evt) {
  
		var value = (evt.hour || '00') + ':' + (evt.minute || '00');
		evt.element.value = value;
		});
	</script>
	
	<script>	
     var timefrom = new Date();
	temp = $('#start').val().split(":");
	timefrom.setHours(parseInt(temp[0]));
	timefrom.setMinutes(parseInt(temp[1]));
	var timeto = new Date();
	temp = $('#end').val().split(":");
	timeto.setHours(parseInt(temp[0]));
	timeto.setMinutes(parseInt(temp[1]));
	if (timeto < timefrom) 
		alert('start time should be smaller');
	</script>
	
      
</body>

</html>