<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/adduser.css">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Add User</h3>
                </div>
                <div class="card-body">
                    <form id="addForm">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="name" name="name" class="form-control" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn float-right login_btn">
                        </div>
                    </form>
                    <div id="errorid"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="application/javascript">
    function ShowError(msg) {
        document.getElementById("errorid").innerText = msg;
    }
    $("#addForm").submit(function (e) {
        const name = document.getElementById("name").value;
        e.preventDefault();
        $.ajax({
            method: "POST",
            url: "/user/add",
            dataType: "json",
            data: { name: name },
            success: function (data) {
                const success = Boolean(data.success);
                if (success === false)
                    return ShowError("Unable to Add User!!!");
                const password = String(data.password);
                ShowError("");
                ShowError("User Created. Password: "+password);
            },
            error: function (jqXHR, exception) {
                ShowError("Unable to Add User!!!");
            }
        });
    });
</script>

</html>