<!DOCTYPE html>
<html>

<head>
    <title>Smart Display</title>
    <!-- <link type="text/css" href="/static/fontawesome/fontawesome.min.css" rel="stylesheet"> -->
    <!-- <script type="text/javascript" src="/static/js/jquery-ui.js"></script> -->
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords"
        content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!-- jquery file upload Frame work -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.filer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.filer-dragdropbox-theme.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/static/css/icofont.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/static/css/feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="/static/css/displist.css">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-container navbar-wrapper">
            <!-- Left Navigation bar -->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <div class="pcoded-wrapper pcoded-navbar" id="left-navbar-container">
                    </div>
                    <!-- Left Navigation Bar Ends -->

                    <!-- Page Content Starts Here -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Display List</h4>
                                                        <!-- <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item">
                                                            <a href="index-1.htm"> <i class="feather icon-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="#!">Lists</a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="#!">Displays</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="auth-box card">
                                            <div class="card-block">
                                                <div class="row m-b-20">
                                                    <div class="col-md-12">
                                                        <h3 class="text-center">Add new Display</h3>
                                                    </div>
                                                </div>
                                                <form id="addForm">
                                                    <div class="form-group form-primary">
                                                        <input type="text" id="displayname" name="name" class="form-control"
                                                            required="" placeholder="Display">
                                                        <span class="form-bar"></span>
                                                    </div>
                                                    <div class="row m-t-30">
                                                        <div class="col-md-12 form-group">
                                                            <input type="submit" value="Add"
                                                                class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">
                                                        </div>
                                                    </div>
                                                </form>
                                                <div id="errorid"></div>
                                            </div>
                                        </div>
                                        <!-- Table header styling table start -->
                                        <div class="card">
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <div id="tabtab"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-body end -->

                                    <!-- Page-body start -->
                                    <div class="page-body">

                                        <!-- Table header styling table start -->
                                        <div class="card">
                                            <!-- <div class="card-block accordion-block color-accordion-block"> -->
                                            <div id="accordion" data-role="collapsible-set"></div>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                            <!-- Main-body start -->
                        </div>
                    </div>

                    <!-- Required Jquery -->
                    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
                    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
                    <script type="text/javascript" src="/static/js/popper.min.js"></script>
                    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
                    <!-- jquery slimscroll js -->
                    <script type="text/javascript" src="/static/js/jquery.slimscroll.js"></script>
                    <!-- Accordion js -->
                    <script type="text/javascript" src="/static/js/accordion.js"></script>
                    <!-- modernizr js -->
                    <script type="text/javascript" src="/static/js/modernizr.js"></script>
                    <script type="text/javascript" src="/static/js/css-scrollbars.js"></script>
                    <!-- i18next.min.js -->
                    <script type="text/javascript" src="/static/js/i18next.min.js"></script>
                    <script type="text/javascript" src="/static/js/i18nextXHRBackend.min.js"></script>
                    <script type="text/javascript" src="/static/js/i18nextBrowserLanguageDetector.min.js"></script>
                    <script type="text/javascript" src="/static/js/jquery-i18next.min.js"></script>
                    <!-- Custom js -->
                    <script src="/static/js/pcoded.min.js"></script>
                    <script src="/static/js/vartical-layout.min.js"></script>
                    <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
                    <script type="text/javascript" src="/static/js/script.js"></script>

                    <!-- <script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script> -->
                    <script type="text/javascript" src="/static/dst/imageuploadify.min.js"></script>

                    <!-- <div class="container" id="wrap">
        <div class="d-flex justify-content-center h-100">
            <div class="container-fluid" id="card">
                <div id="accordion" data-role="collapsible-set"></div>
            </div>
        </div>
    </div> -->
</body>
<!-- <script type="text/javascript" src="/static/js/jquery.min.js"></script> -->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/displistgen.js"></script>
<script type="text/javascript" src="/static/js/navbar-load.js"></script>

</html>