<!DOCTYPE html>
<html lang="en">

<head>
    <title>SmartDisplay </title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="XYZ123">
    <meta name="description" content="#">
    <meta name="keywords"
        content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/jquery.filer.min.js"></script>
    <script src="/js/custom-filer.js" type="text/javascript"></script>
    <script src="/js/jquery.fileuploads.init.js" type="text/javascript"></script>
    <script src="/js/dropzone.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox.css">
    <link rel="stylesheet" type="text/css" href="/css/basic.css">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- jquery file upload Frame work -->
    <link rel="stylesheet" type="text/css" href="/css/jquery.filer.css" >
    <link rel="stylesheet" type="text/css" href="/css/jquery.filer-dragdropbox-theme.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/css/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/css/icofont.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/css/feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">

    <script type='text/javascript' src="/js/moment.min.js"></script>

    <script type='text/javascript' src="/js/moment.js"></script>
    <script type="text/javascript" src="/js/tempusdominus-bootstrap-4.min.js"></script>
    <link type='text/css' rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css" />

    <script type="text/javascript" src="/js/rasplistgen.js"></script>

    <style>
        * {
            padding: 0;
            margin: 0;
        }

        #Displays {
            padding: 2rem;
        }

        body {
        background: rgb(243, 244, 245);
        height: 100%;
        color: rgb(100, 108, 127);
        line-height: 1.4rem;
        font-family: Roboto, "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-rendering: optimizeLegibility;
        }

        h1 
        { 
        text-align: center; 
        }

    .dropzone {
        background: white;
        border-radius: 5px;
        border: 2px dashed rgb(0, 135, 247);
        border-image: none;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        }

    </style>
</head>

<body>
    <!-- Pre-loader start -->
    <!-- <div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div> -->
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href="index-1.htm">
                            <img class="img-fluid" src="/images/logo.png" alt="Theme-Logo">
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="feather icon-maximize full-screen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                        <span>User</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="/user/logout">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <!-- Left Navigation bar -->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel">Control Panel</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="upload">
                                        <span class="pcoded-micon"><i class="feather icon-upload-cloud"></i></span>
                                        <span class="pcoded-mtext">Media Upload</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="form-picker.htm">
                                        <span class="pcoded-micon"><i class="feather icon-edit-1"></i></span>
                                        <span class="pcoded-mtext">Form Picker</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="form-select.htm">
                                        <span class="pcoded-micon"><i class="feather icon-feather"></i></span>
                                        <span class="pcoded-mtext">Form Select</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="form-masking.htm">
                                        <span class="pcoded-micon"><i class="feather icon-shield"></i></span>
                                        <span class="pcoded-mtext">Form Masking</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="form-wizard.htm">
                                        <span class="pcoded-micon"><i class="feather icon-tv"></i></span>
                                        <span class="pcoded-mtext">Form Wizard</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Left Navigation Bar Ends -->

                    <!-- Page Content Starts Here -->
                    <form enctype="multipart/form-data" method="POST" action="/files/upload" id="formValue">
                        <div class="pcoded-content">
                            <div class="pcoded-inner-content">
                                <!-- Main-body start -->
                                <div class="main-body">
                                    <div class="page-wrapper">
                                        <!-- Page-header start -->
                                        <div class="page-header">
                                            <div class="row align-items-end">
                                                <div class="col-lg-8">
                                                    <div class="page-header-title">
                                                        <div class="d-inline">
                                                            <h4>File Upload</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Page-header end -->
                                        <!-- Page-body start -->
                                        <div class="page-body">
                                            <!-- File upload card start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5> </h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="dropzone-previews dropzone" id="my-awesome-dropzone">
                                                    <div class="fallback">
                                                        <input type="file" accept="image/*,video/*"
                                                        name='files'
                                                        multiple id="customFile">
                                                    </div>
                                                    </div>
                                                </div>

                                            <!-- </div> -->
                                            <!-- File upload card end -->
                                        </div>
                                        <!-- Displays to upload image onto start -->
                                        <p style="margin-top:50px;">Select displays to upload image to:</p>
                                        <ul class="ks-cboxtags">
                                        <li><div id="Displays"></div></li>
                                        </ul>
                                        <!-- Displays to upload image onto end -->
                                        <!-- Page-body end -->
                                        <!-- Time Period -->
                                        <div style="text-align: center;margin-bottom: 100px">
                                            <p>Time Period : </p>
                                            <input type="text" name="showTime" value="00" class="Inputbox" id="showTime">
                                        </div>
                <!-- Time Period Ends -->
                <!-- Linked TimePicker -->
                <div class="container">
                    <div class="row justify-content-around">
                        <div class='col-4'>
                            <div class="form-group">
                                <div id="datetimepicker7" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                        data-target="#datetimepicker7" name="startTime" placeholder="00:00" id="startTime" />
                                    <div class="input-group-append" data-target="#datetimepicker7"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            TO
                        </p>
                        <div class='col-4'>
                            <div class="form-group">
                                <div id="datetimepicker8" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                        data-target="#datetimepicker8" name="endTime" placeholder="00:00" id="endTime" />
                                    <div class="input-group-append" data-target="#datetimepicker8"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Linked TimePicker Ends -->
                <button type="submit" class="btn btn-success" id="submit_on"
                    style="margin-left: 50%;margin-top: 100px">SUBMIT</button>
            </div>
        </div>
        <!-- Main-body end -->
    </div>
    <!-- </div> -->
    </form>
    </div>
    </div>
    </div>
    </div>
    

    <!-- Required Jquery -->
    <!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/css-scrollbars.js"></script>
    <!-- jquery file upload js -->
    <!-- <script src="/js/jquery.filer.min.js"></script>
    <script src="/js/custom-filer.js" type="text/javascript"></script>
    <script src="/js/jquery.fileuploads.init.js" type="text/javascript"></script> -->
    <!-- Custom js -->
    <script src="/js/pcoded.min.js"></script>
    <script src="/js/vartical-layout.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker7, #datetimepicker8').datetimepicker({
                format: 'HH:mm',
                useCurrent: false
            });

            $("#datetimepicker7").on("change.datetimepicker", function (e) {
                $('#datetimepicker8').datetimepicker('minDate', e.date);
            });
            $("#datetimepicker8").on("change.datetimepicker", function (e) {
                $('#datetimepicker7').datetimepicker('maxDate', e.date);
            });
        });

        $(function () {
            $("div#left-navbar-container").load("/navbar");
        });

        $(document).ready(function () {
            Dropzone.options.fileUpload = {
                url: '/files/upload'
            }
            Dropzone.options.myAwesomeDropzone = {
                // The configuration we've talked about above
                autoProcessQueue: false,
                uploadMultiple: true,
                url: '/files/upload',
                parallelUploads: 100,
                acceptedFiles: "image/*, video/*",
                maxFiles: 100,
                paramName: function (n) { return 'files'; },  // Don't enumerate the transfers

                // The setting up of the dropzone
                init: function () {
                    var myDropzone = this;

                    // First change the button to actually tell Dropzone to process the queue.
                    document.getElementById("submit_on").addEventListener("click", function (e) {
                        // Make sure that the form isn't actually being sent.
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    
                   // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                    // of the sending event because uploadMultiple is set to true.
                    this.on("sendingmultiple", function (data, xhr, formData) {
                        // Gets triggered when the form is actually being sent.
                        // Hide the success button or the complete form.

                        var checked = document.querySelectorAll("input[name='ids']:checked");
                        checked.forEach(check_box => formData.append("ids", check_box.value));

                        formData.append("showTime", document.getElementById("showTime")["value"]);  
                        formData.append("startTime", document.getElementById("startTime")["value"]);
                        formData.append("endTime", document.getElementById("endTime")["value"]);
                    });
                    
                    this.on("successmultiple", function (files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.
                    });
                    this.on("errormultiple", function (files, response) {
                        // Gets triggered when there was an error sending the files.
                        // Maybe show form again, and notify user of error
                    });
                
                    this.on("addedfile", function () {
                        $('#submit_on').show();
                    });

                    $('#submit_on').hide();

                }

            };

        });  
    </script>
</body>

</html>