<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Control Panel</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="upload">
                    <span class="pcoded-micon"><i class="feather icon-upload-cloud"></i></span>
                    <span class="pcoded-mtext">Media Upload</span>
                </a>
            </li>
            <li class=" ">
                <a href="form-picker.htm">
                    <span class="pcoded-micon"><i class="feather icon-edit-1"></i></span>
                    <span class="pcoded-mtext">Form Picker</span>
                </a>
            </li>
            <li class=" ">
                <a href="form-select.htm">
                    <span class="pcoded-micon"><i class="feather icon-feather"></i></span>
                    <span class="pcoded-mtext">Form Select</span>
                </a>
            </li>
            <li class=" ">
                <a href="form-masking.htm">
                    <span class="pcoded-micon"><i class="feather icon-shield"></i></span>
                    <span class="pcoded-mtext">Form Masking</span>
                </a>
            </li>
            <li class=" ">
                <a href="form-wizard.htm">
                    <span class="pcoded-micon"><i class="feather icon-tv"></i></span>
                    <span class="pcoded-mtext">Form Wizard</span>
                </a>
            </li>
        </ul>
    </div>
</nav>