<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu">
    <div class="pcoded-navigatio-lavel">Control Panel</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="">
        <a href="/files/upload">
          <span class="pcoded-micon"
            ><i class="feather icon-upload-cloud"></i
          ></span>
          <span class="pcoded-mtext">Media Upload</span>
        </a>
      </li>
      <li class=" ">
        <a href="/display/list">
          <span class="pcoded-micon"><i class="feather icon-monitor"></i></span>
          <span class="pcoded-mtext">Display List</span>
        </a>
      </li>
      <li class=" ">
        <a href="/user/changepass">
          <span class="pcoded-micon"><i class="feather icon-lock"></i></span>
          <span class="pcoded-mtext">Change Password</span>
        </a>
      </li>
      <li class=" ">
        <a href="/user/logout">
          <span class="pcoded-micon"><i class="feather icon-log-out"></i></span>
          <span class="pcoded-mtext">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
