
.filepond--drop-label {
  color: #4c4e53;
}

.filepond--label-action {
  -webkit-text-decoration-color: #babdc0;
          text-decoration-color: #babdc0;
}

.filepond--panel-root {
  border-radius: 2em;
  background-color: #edf0f4;
  height: 1em;
}

.filepond--item-panel {
  background-color: #595e68;
}

.filepond--drip-blob {
  background-color: #7f8a9a;
}

/**
 * Page Styles
 */
html {
  padding: 10vh 0 0;
}

label{
  color: grey;
  padding-left: 5px;
}
body {
  max-width: 20em;
  margin: 0 auto;
}
