.ball {
	pointer-events: none;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: gray;
	animation: implode 1s ease-in-out;
	animation-fill-mode: both;
	opacity: .5;
}

@keyframes implode {
	100% {
		transform: scale(0);
	}
}
